---
layout: main
---
<!-- Content -->
<section>
	<header class="main">
		<h1>{{ title }}</h1>
	</header>

	{% if bannerImage %}
		<span class="image main"><img src="images/pic11.jpg" alt="" /></span>
	{% endif %}

	{{ content | safe }}

</section>